.edm--layout--wrapper {
  background-color: #e6e7ee;
}

.email-box {
  background-color: #fff;
  /* border: #c9d8e5 solid 1px;  */
  /* box-shadow: 0 3px 12px rgba(0, 0, 0, .1); */
}

table.order--list tr th,
table.order--list tr td,
h4,
p {
  color: #777;
}
table.order--list tr th,
table.order--list tr td {
  border:1px solid #e6e7ee;
}
table.order--list tr th.header {
  color:#333;
  background:#e6e7ee;
}
.t-red {
    
  color: #FF5539;
}

.t-blue {
  color: #9e3ffd;
}

.bg-line {
  background-color: #c488ff;
}
.edm--title, table.order--list tr th {
  color: #333;
}
.edm--text a {
  color: #7332C1;
}

.t-system .edm--text {
  color: #666;
}

.t-system .edm--text a {
  color: #7332C1;
}

.edm--btn a {
  color: #fff;
  background-color: #7332C1;
}

.edm--btn-line a {
  color: #7332C1;
  border: 1px solid #7332C1;
}

.edm--line {
  border-bottom: 1px solid #e6e7ee;
}