.edm--layout--wrapper {
  background-color: #f1f1f1;
}

.email-box {
  background-color: #fff;
}
table.order--list tr th,
table.order--list tr td,
h4,
p {
  color: #777;
}
table.order--list tr th,
table.order--list tr td {
  border:1px solid #f1f1f1;
}
table.order--list tr th.header {
  color:#333;
  background:#f1f1f1;
}
.t-red {
  color: #FF5539;
}

.t-blue {
  color: #0058CB;
}

.bg-line {
  background-color: #DCA60F;
}

.edm--title, table.order--list tr th {
  color: #333;
}

.edm--text a {
  color: #0058CB;
}

.t-system .edm--text {
  color: #777;
}

.t-system .edm--text a {
  color: #0058CB;
}

.edm--btn a {
  color: #fff;
  background-color: #222;
}

.edm--btn-line a {
  color: #222;
  border: 1px solid #222;
}

.edm--line {
  border-bottom: 1px solid #E1E1E1;
}