.edm--layout--wrapper {
  background-color: #fdfaf8;
}

.email-box {
  background-color: #fff;
  border: #333 solid 5px;
}

table.order--list tr th,
table.order--list tr td,
h4,
p {
  color: #777;
}
table.order--list tr th,
table.order--list tr td {
  border:1px solid #f1f1f1;
}
table.order--list tr th.header {
  color:#333;
  background: #f1f1f1;
}

.t-red {
  color: #eb614b;
}

.t-blue {
  color: #334fe3;
}

.bg-line {
  background-color: #f1f1f1;
}

.edm--title, table.order--list tr th {
  color: #333;
}

.edm--text a {
  color: #334fe3;
}

.t-system .edm--text {
  color: #666;
}

.t-system .edm--text a {
  color: #334fe3;
}

.edm--btn a {
  color: #fff;
  background-color: #222;
}

.edm--btn-line a {
  color: #222;
  border: 1px solid #222;
}

.edm--line {
  border-bottom: 1px solid #f1f1f1;
}