.h-btn-primary-xl {
  background-color: #000;
  color: #fff;
  border: 1px #000 solid;
}

.h-btn-primary-line-xl {
  border: 1px #000 solid;
  color: #000;
  border: 1px #000 solid;
}
.h-btn-primary-line-xl:hover {
  background-color: #f8f3ff;
}

.h-btn-primary-l {
  background-color: #000;
  color: #fff;
  border: 1px #323b6b solid;
}

.h-btn-primary-m {
  background-color: #000;
  color: #fff;
  border: 1px #323b6b solid;
}

.h-btn-bg-red {
  background-color: #f65339;
  border-color: #f65339;
}

.h-btn-bg-darkblue {
  background-color: #7f597c;
  border-color: #7f597c;
}

.h-btn-bg-white {
  background-color: white;
  border-color: white;
  color: #323b6b;
}

.h-h-btn-line-white:hover {
  color: #323b6b;
}

.h-btn-primary-line-m {
  border: 1px #000 solid;
  color: #000;
  border: 1px #323b6b solid;
}
.h-btn-primary-line-m:hover {
  background-color: #eaeaea;
}

.h-btn-disabled {
  cursor: initial;
  color: #fff;
  background-color: #B1B1B1;
  border-color: #B1B1B1;
}
.h-btn-disabled:hover {
  background-color: #B1B1B1;
  opacity: 1;
}

.h-the-select select {
  background-color: #f8f8f8;
  border: transparent;
}

.holkee-swiper .swiper-pagination-bullet {
  background-color: #EAE1F5;
}

input.default,
textarea.default {
  border: transparent 1px solid;
  color: #333;
  background-color: #f8f8f8;
}
input.default:focus,
textarea.default:focus {
  border-color: #a277d4;
}
input.default:disabled,
textarea.default:disabled {
  background-color: #ededed;
}

input.has-error,
textarea.has-error {
  border: 1px #f65339 solid;
}
input.has-error:hover, input.has-error:focus,
textarea.has-error:hover,
textarea.has-error:focus {
  border: 1px #f65339 solid;
}

.switch-type .switchbutton {
  background-color: #eee;
}
.switch-type .switchbutton:before {
  background-color: #fff;
  border: 2px solid #eee;
}
.switch-type .switchbutton:after {
  background-color: #fff;
  box-shadow: 0px 1px 3px #bbb;
}
.switch-type input:checked ~ .switchbutton:before {
  background-color: #a341ae;
  border: 1px solid #a341ae;
}
.switch-type input:checked ~ .switchbutton:before {
  background-color: #a341ae;
  border: 1px solid #a341ae;
}
.switch-type input:disabled ~ .switchbutton:before {
  background-color: #B1B1B1;
  border: 1px solid #B1B1B1;
}

.h-control {
  color: #333;
}
.h-control input:checked ~ .h-control__indicator {
  background: #333;
  border-color: #333;
}

.h-control__indicator {
  border: 2px solid #cfcfcf;
  background-color: #fff;
}

.h-control--checkbox .h-control__indicator:after {
  border: solid #fff;
  border-width: 0 3px 3px 0;
}

.h-control--radio input:checked ~ .h-control__indicator:after {
  background: #fff;
}
.h-control--radio input:disabled ~ .h-control__indicator:after {
  background-color: #333;
}
.h-control--radio input:disabled:checked ~ .h-control__indicator:after {
  background-color: #333;
}

.menu-btn span {
  color: #333;
}

.pushy {
  background: #7f597c;
}
.pushy a {
  color: #fff;
}
.pushy a:hover {
  color: #FFF;
}

.pushy-submenu button {
  color: #fff;
}
.pushy-submenu button:hover {
  color: #FFF;
}

.pushy-content ul li:hover, .pushy-content ul li.actived {
  background: white;
  color: #7f597c;
}
.pushy-content ul li:hover a, .pushy-content ul li:hover .actived, .pushy-content ul li.actived a, .pushy-content ul li.actived .actived {
  color: #7f597c;
}

.holkee-header-wrap {
  background-color: #EAE1F5;
}
.holkee-header-wrap .logo {
  color: #333;
}
.holkee-header-wrap .menu li.actived, .holkee-header-wrap .menu li:hover {
  background: #a341ae;
}
.holkee-header-wrap .menu li.actived p a, .holkee-header-wrap .menu li:hover p a {
  color: #fff;
}
.holkee-header-wrap .menu li p {
  color: #fff;
}
.holkee-header-wrap .menu li p a {
  color: #333;
}
.holkee-header-wrap .h-header-tools li a {
  color: #333;
}
.holkee-header-wrap .h-header-tools li a.btn-car span.nb {
  background-color: #f65339;
  color: #fff;
}
.holkee-header-wrap .h-header-tools li a:hover i {
  opacity: 0.9;
}
.holkee-header-wrap .h-header-tools .dropdown-menu .sub-list {
  border: 1px solid #dfdfdf;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 12px;
}
.holkee-header-wrap .h-header-tools .dropdown-menu .sub-list ul li {
  border-top: 1px solid #dfdfdf;
}
.holkee-header-wrap .h-header-tools .dropdown-menu .sub-list ul li a {
  color: #000;
}
.holkee-header-wrap .h-header-tools .dropdown-menu .sub-list ul li a:hover {
  background-color: #eaeaea;
}

.holkee-footer-wrap {
  background-color: #F1E4B8;
}
.holkee-footer-wrap .logo {
  color: black;
}
.holkee-footer-wrap ul.link li a,
.holkee-footer-wrap ul.info li a {
  color: #000;
}
.holkee-footer-wrap ul.follow-us li a {
  color: #000;
}
.holkee-footer-wrap p.copyrights {
  color: #a29d8e;
}

.h-text-wrap h3.main-title::before, .h-text-wrap h3.main-title::after {
  background-color: #000;
}
.h-text-wrap .text a {
  color: #21253b;
}
.h-text-wrap .order-type {
  background-color: #fff;
  border: 1px solid #DFDFDF;
}

.form-style label.label-title {
  color: #000;
}
.form-style form.account .a-row p.fl-r a {
  color: #000;
}
.form-style form.account input.user:disabled {
  color: #000;
}
.form-style form.orderinfo-form .top-title {
  background-color: #F9F9F9;
  border-bottom: 1px solid #E1E1E1;
}
.form-style form.orderinfo-form .top-title .type-tools .the-select select {
  background-color: #fff;
}
.form-style form.orderinfo-form .top-title .type-tools .h-btn-primary-line-m {
  background-color: #fff;
  border-color: #DCDCDC;
}
.form-style form.orderinfo-form .top-title .type-tools .h-btn-primary-line-m:hover {
  border-color: #000;
}
.form-style form.orderinfo-form .h-c-blue {
  color: #a341ae;
}
.form-style form.orderinfo-form ul.a-row li .result-products li {
  border-bottom: 1px solid #E1E1E1;
}
.form-style form.orderinfo-form ul.a-row li.total-amount {
  border: 1px solid #E1E1E1;
  border-width: 1px 0 1px 0;
}

.submit-text {
  border: #DCDCDC 1px solid;
  background-color: #f6f6f6;
}
.submit-text p {
  color: #333;
}

.text-note {
  background-color: #FFFEE7;
  border: 1px solid #E2E3C1;
}

.bg-note-red {
  border-color: #FFA0B0;
  background-color: #FFF5F5;
}

.bg-note-green {
  border-color: #72CA3F;
  background-color: #f5ffef;
}
.bg-note-green i {
  color: #72CA3F;
}

.alcohol-warning-banner {
  color: #fff;
  background-color: #594842;
}

.holkee-aboutus {
  background-color: #f6f6f6;
}

.holkee-aboutus-single .h-mid-cont {
  background-color: #fff;
}

.holkee-promotion {
  background-color: #EAE1F5;
}

.holkee-contactus {
  background: #EAE1F5;
}
.holkee-contactus .privacy-policy {
  border: 1px solid #ddd;
  background-color: #f6f6f6;
}
.holkee-contactus .txn-checkbox a {
  color: #334fe3;
}
.holkee-contactus .company-info ul.list li i {
  color: #000;
}
.holkee-contactus .company-info ul.list li p a {
  color: #000;
}

.holkee-policy .h-mid-cont {
  background-color: #fff;
  border: 2px solid #333;
}

.holkee-news .h-mid-cont .a-row {
  background-color: white;
  border-color: #333;
  border-bottom-color: #333;
  border-right-color: #333;
}
.holkee-news .h-mid-cont .text-info .text::before {
  background: #EAE1F5;
}
.holkee-news .h-mid-cont .text-info .date {
  color: #ccc;
}

.holkee-services {
  background-color: #eae1f5;
}
.holkee-services .h-mid-cont .a-row {
  background-color: #fff;
}

.holkee-fb-post,
.holkee-ig-post {
  background-color: #fff;
}

.holkee-fb-gallery,
.holkee-ig-gallery {
  background-color: #fff;
}

.holkee-yt-video .h-mid-cont .a-row iframe {
  border-color: 5px double #333;
}

.shop-menu ul.item-main li.selected, .shop-menu ul.item-main li:hover {
  border-color: #f1f1f1;
  color: #a341ae;
  background: white;
}
.shop-menu ul.item-subtitle li.selected {
  color: #a341ae;
}
.shop-menu ul li:hover {
  color: #a341ae;
}
.shop-menu ul.item-subtitle {
  border-top: 1px solid #c0c0c0;
}
@media all and (max-width: 700px) {
  .shop-menu {
    border-color: transparent;
  }
  .shop-menu ul.item-subtitle {
    border-color: #DCDCDC;
  }
}

.top-breadcrumb {
  color: #888;
}
.top-breadcrumb a {
  color: #888;
}

.manage-breadcrumb {
  background-color: rgba(255, 255, 255, 0.4705882353);
  box-shadow: rgba(226, 218, 218, 0.35) 5px 5px 10px;
}
.manage-breadcrumb .h-mid-cont a.home {
  color: #fff;
  background-color: #cec5d8;
}
.manage-breadcrumb .h-mid-cont a.home:hover {
  opacity: 0.9;
}
.manage-breadcrumb .h-mid-cont .the-select select:disabled {
  background-color: #F2F2F2;
}
.manage-breadcrumb .h-mid-cont .the-select select:disabled:hover {
  border-color: #DCDCDC;
}

ul.dropdown-list {
  background-color: #fff;
}
ul.dropdown-list li {
  color: #333;
  border-bottom: 1px solid #eaeaea;
}
ul.dropdown-list a {
  color: #333;
}
ul.dropdown-list a:hover {
  background-color: #eaeaea;
}

.country-item {
  border: #DCDCDC 1px solid;
}
.country-item:hover {
  border-color: #888;
}
.country-item p {
  color: #333;
}

.holkee-shop {
  background: repeating-linear-gradient(90deg, #f8f8f8 0, #f8f8f8 5%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, #f8f8f8 0, #f8f8f8 5%, transparent 0, transparent 50%);
  background-color: #fff;
  background-size: 1.2em 1.2em;
}
.holkee-shop .item .a-row {
  background: white;
  border-color: white;
}
.holkee-shop .item .a-row:hover {
  border-color: #f1f1f1;
}
.holkee-shop .item .a-row::after {
  background: repeating-linear-gradient(0deg, #333 0, #333 2px, transparent 2px, transparent 4px);
}
.holkee-shop .item .a-row:hover::after {
  background: repeating-linear-gradient(0deg, #f65339 0, #f65339 2px, transparent 2px, transparent 4px);
}
.holkee-shop .shop-tools .search .icon {
  color: #9d7ac8;
}
.holkee-shop .text-info .sub-title {
  color: #333;
}
.holkee-shop .price .discount {
  color: #f65339;
}
.holkee-shop .price .original {
  color: #888;
}

.holkee-swiper .swiper-button-next:after,
.holkee-swiper .swiper-button-prev:after {
  color: #fff;
  background-color: #333;
}
.holkee-swiper :root {
  --swiper-theme-color: $h-color-darkgray;
}

.holkee-products-swiper .swiper-wrapper a {
  border-color: #333;
}
.holkee-products-swiper .swiper-wrapper a::after, .holkee-products-swiper .swiper-wrapper a::before {
  background: repeating-linear-gradient(0deg, #333 0, #333 2px, transparent 2px, transparent 4px);
}
.holkee-products-swiper .swiper-button-next:after,
.holkee-products-swiper .swiper-button-prev:after {
  color: #fff;
  background-color: #333;
}
.holkee-products-swiper .swiper-products-cont .text {
  color: #000;
}
.holkee-products-swiper .price .discount {
  color: #f65339;
}
.holkee-products-swiper .price .original {
  color: #888;
}

.holkee-products-main-swiper .coverSwiperLarge {
  background: repeating-linear-gradient(90deg, #f8f8f8 0, #f8f8f8 5%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, #f8f8f8 0, #f8f8f8 5%, transparent 0, transparent 50%);
  background-color: #fff;
  background-size: 1.2em 1.2em;
}
.holkee-products-main-swiper .coverSwiperLarge a.btn-magnifier {
  border: 1px solid #DCDCDC;
  background-color: #FFF;
  color: #000;
}
.holkee-products-main-swiper .coverSwiperLarge a.btn-magnifier:hover {
  border-color: #000;
}
.holkee-products-main-swiper .swiper-slide-thumb-active img {
  border: 2px solid #000;
}
.holkee-products-main-swiper .swiper-button-next:hover:after {
  background-color: #333;
}
.holkee-products-main-swiper .swiper-button-prev:hover:after {
  background-color: #333;
}
.holkee-products-main-swiper .swiper-button-next:after,
.holkee-products-main-swiper .swiper-button-prev:after {
  color: #fff;
  background-color: rgba(51, 51, 51, 0.5176470588);
}

.holkee-product-info {
  background: repeating-linear-gradient(90deg, #f8f8f8 0, #f8f8f8 5%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, #f8f8f8 0, #f8f8f8 5%, transparent 0, transparent 50%);
  background-color: #fff;
  background-size: 1.2em 1.2em;
}
.holkee-product-info .h-product-cont {
  background-color: #fff;
  border-color: #333;
}

.quantity-cont .select-quantity {
  border: 2px solid #dadada;
}
.quantity-cont .select-quantity input.qty-input[type=number] {
  -moz-appearance: textfield;
}
.quantity-cont .select-quantity span {
  background-color: #fff;
}
.quantity-cont .select-quantity span.plus {
  border-left: 1px solid #dedede;
}
.quantity-cont .select-quantity span.minus {
  border-right: 1px solid #dedede;
}
.quantity-cont .select-quantity span.plus:hover, .quantity-cont .select-quantity span.minus:hover {
  background-color: #f3f3f3;
}
.quantity-cont .select-quantity span.minus-none {
  color: #dadada;
}
.quantity-cont .select-quantity span.minus-none:hover {
  background-color: #fff;
}

.h-product-cont .shop-label {
  color: #000;
}
.h-product-cont .shop-spec a {
  color: #000;
  border-color: #DCDCDC;
  background-color: #fff;
}
.h-product-cont .shop-spec a.selected {
  color: #a341ae;
  border-color: #a341ae;
}
.h-product-cont .shop-spec a:hover {
  border-color: #a341ae;
}
.h-product-cont .shop-status tr,
.h-product-cont .shop-status td {
  color: #000;
}
.h-product-cont .price .discount {
  color: #f65339;
}
.h-product-cont .price .original {
  color: #888;
}
.h-product-cont .discount-contents {
  border-left: 3px solid #dadada;
}
.h-product-cont .discount-contents li {
  color: #888;
}
.h-product-cont .discount-contents li .l-label {
  border: 2px solid #dadada;
}
.h-product-cont .discount-contents li.more a {
  background-color: #f8f3ff;
  color: #6e6e6e;
}
.h-product-cont .discount-contents li.more span {
  color: #323b6b;
}
.h-product-cont .stock {
  color: #888;
}
.h-product-cont a.btn-car {
  color: #000;
}
.h-product-cont a.btn-car span.nb {
  color: #fff;
  background-color: #f65339;
}
.h-product-cont .privacy-policy {
  border: 1px solid #ddd;
}
.h-product-cont .txn-checkbox a {
  color: #21253b;
}

.h-magnifier-info .h-products-info .selected img {
  border: 2px solid #a341ae;
}

.form-table .a-row {
  border-bottom: 1px solid #eaeaea;
}
.form-table .a-row:hover {
  background-color: #f7f7f7;
}
.form-table .a-row .quantity-cont .select-quantity {
  border: 2px solid #dadada;
}
.form-table .bg-title {
  color: #fff;
  background-color: #827c89;
}
.form-table .bg-title p {
  color: #fff;
}
.form-table .bg-title:hover {
  background-color: #827c89;
}

.holkee-shoppingcart {
  background: repeating-linear-gradient(90deg, #f8f8f8 0, #f8f8f8 5%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, #f8f8f8 0, #f8f8f8 5%, transparent 0, transparent 50%);
  background-color: #fff;
  background-size: 1.2em 1.2em;
}
.holkee-shoppingcart .h-mid-cont {
  background-color: #fff;
  border: 2px solid #333;
}
.holkee-shoppingcart .h-c-blue {
  color: #a341ae;
}
.holkee-shoppingcart h5.sub-title a.f-ss {
  color: #21253b;
}
.holkee-shoppingcart .show-more {
  border: 1px solid #eaeaea;
  color: #333;
}
.holkee-shoppingcart .show-more:hover {
  background-color: #f7f7f7;
}
.holkee-shoppingcart .product-list .a-row .tools a.icon-delete {
  background-color: #fff;
  border: 1px solid #DCDCDC;
}
.holkee-shoppingcart .product-list .a-row .tools a.icon-delete:hover {
  border-color: #a277d4;
}
.holkee-shoppingcart .product-list .a-row .product-name .price {
  color: #9E9E9E;
}
.holkee-shoppingcart .product-list .a-row .product-name a {
  color: #333;
}
.holkee-shoppingcart .product-list .bg-title .order-photo .h-control input:checked ~ .h-control__indicator {
  border-color: #fff;
  background-color: #fff;
}
.holkee-shoppingcart .product-list .bg-title .order-photo .h-control input:checked ~ .h-control__indicator::after {
  border-color: #333;
}
.holkee-shoppingcart .product-list .off-out .off-text {
  background-color: #888;
  color: #fff;
}
.holkee-shoppingcart .orderinfo-form .txn-checkbox a {
  color: #21253b;
}
.holkee-shoppingcart .orderinfo-form .line-dashed {
  border-bottom: 1px dashed #C3C3C3;
}
.holkee-shoppingcart .orderinfo-form .fl .text-copy a {
  color: #333;
}
.holkee-shoppingcart .orderinfo-form .total-amount {
  border-top: 1px solid #eae1f5;
  background-color: #f8f3ff;
}
.holkee-shoppingcart .orderinfo-result .top-title {
  background-color: #F9F9F9;
  border-bottom: 1px solid #E1E1E1;
}

.tools a.icon {
  border: 1px solid #DCDCDC;
  color: #222;
}
.tools a.icon:hover {
  background-color: #fff;
}

.orders-list .a-row .order-nb a {
  color: #a341ae;
}
.orders-list .bg-title .order-nb .h-control input:checked ~ .h-control__indicator {
  border-color: #fff;
  background-color: #fff;
}
.orders-list .bg-title .order-nb .h-control input:checked ~ .h-control__indicator::after {
  border-color: #333;
}

.top-tab {
  border: 1px solid #DCDCDC;
}
.top-tab li {
  border-right: 1px solid #DCDCDC;
}
.top-tab li a {
  border-bottom: 3px solid #DCDCDC;
  background-color: #fff;
  color: #333;
  background-color: #F7F7F7;
}
.top-tab li a:hover {
  color: #323b6b;
}
.top-tab li.selected a {
  background-color: #fff;
  color: #000;
  border-color: #a341ae;
}

.login-cont .text a {
  color: #323b6b;
}/*# sourceMappingURL=color_0004.css.map */