body {
  background-color: #e6e7ee;
}

.h-btn-primary-xl {
  background-color: #9e3ffd;
  color: #fff;
  border: 1px #9e3ffd solid;
}

.h-btn-primary-line-xl {
  border: 1px #9e3ffd solid;
  color: #9e3ffd;
  border: 1px #9e3ffd solid;
}
.h-btn-primary-line-xl:hover {
  background-color: #eaeaea;
}

.h-btn-primary-l {
  background-color: #9e3ffd;
  color: #fff;
  border: 1px #9e3ffd solid;
}

.h-btn-primary-m {
  background-color: #9e3ffd;
  color: #fff;
  border: 1px #9e3ffd solid;
}

.h-btn-bg-red {
  background-color: #FF5539;
  border-color: #FF5539;
}

.h-btn-bg-darkblue {
  background-color: #2965ba;
  border-color: #2965ba;
}

.h-btn-bg-white {
  background-color: white;
  border-color: white;
  color: #9e3ffd;
}

.h-h-btn-line-white:hover {
  color: #9e3ffd;
}

.h-btn-primary-line-m {
  border: 1px #9e3ffd solid;
  color: #9e3ffd;
  border: 1px #9e3ffd solid;
}
.h-btn-primary-line-m:hover {
  background-color: #eaeaea;
}

.h-btn-disabled {
  cursor: initial;
  color: #fff;
  background-color: #B1B1B1;
  border-color: #B1B1B1;
}
.h-btn-disabled:hover {
  background-color: #B1B1B1;
  opacity: 1;
}

.holkee-swiper .swiper-pagination-bullet {
  background-color: #9e3ffd;
}

input.has-error,
textarea.has-error {
  border: 1px #FF5539 solid;
}
input.has-error:hover, input.has-error:focus,
textarea.has-error:hover,
textarea.has-error:focus {
  border: 1px #FF5539 solid;
}

.switch-type .switchbutton {
  background-color: #eee;
}
.switch-type .switchbutton:before {
  background-color: #fff;
  border: 2px solid #eee;
}
.switch-type .switchbutton:after {
  background-color: #fff;
  box-shadow: 0px 1px 3px #bbb;
}
.switch-type input:checked ~ .switchbutton:before {
  background-color: #FFBC00;
  border: 1px solid #FFBC00;
}
.switch-type input:checked ~ .switchbutton:before {
  background-color: #FFBC00;
  border: 1px solid #FFBC00;
}
.switch-type input:disabled ~ .switchbutton:before {
  background-color: #B1B1B1;
  border: 1px solid #B1B1B1;
}

.h-control {
  color: #333;
}
.h-control input:checked ~ .h-control__indicator {
  background: #333;
  border-color: #333;
}

.h-control__indicator {
  border: 2px solid #cfcfcf;
  background-color: #fff;
}

.h-control--checkbox .h-control__indicator:after {
  border: solid #fff;
  border-width: 0 3px 3px 0;
}

.h-control--radio input:checked ~ .h-control__indicator:after {
  background: #fff;
}
.h-control--radio input:disabled ~ .h-control__indicator:after {
  background-color: #333;
}
.h-control--radio input:disabled:checked ~ .h-control__indicator:after {
  background-color: #333;
}

.menu-btn span {
  color: #7332C1;
}

.pushy {
  background: #dddddd;
}
.pushy a {
  color: #7332C1;
}
.pushy a:hover {
  color: #7332C1;
}

.pushy-submenu button {
  color: #fff;
}
.pushy-submenu button:hover {
  color: #FFF;
}

.pushy-content ul li:hover, .pushy-content ul li.actived {
  background: #9e3ffd;
  color: white;
}
.pushy-content ul li:hover a, .pushy-content ul li:hover .actived, .pushy-content ul li.actived a, .pushy-content ul li.actived .actived {
  color: white;
}

.holkee-header-wrap {
  background-color: #e6e7ee;
  border-bottom: 1px solid #d1d9e6;
}
.holkee-header-wrap .logo {
  color: #7332C1;
}
.holkee-header-wrap .menu li.actived p a {
  background: #9e3ffd;
  color: white;
}
.holkee-header-wrap .menu li p {
  color: #7332C1;
}
.holkee-header-wrap .menu li p a {
  color: #7332C1;
}
.holkee-header-wrap .menu li p a:hover {
  background: #9e3ffd;
  color: white;
}
.holkee-header-wrap .h-header-tools li a {
  color: #7332C1;
}
.holkee-header-wrap .h-header-tools li a.btn-car span.nb {
  background-color: #FF5539;
  color: white;
}
.holkee-header-wrap .h-header-tools li a:hover i {
  opacity: 0.9;
}
.holkee-header-wrap .h-header-tools .dropdown-menu .sub-list {
  border: 1px solid #dfdfdf;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 12px;
}
.holkee-header-wrap .h-header-tools .dropdown-menu .sub-list ul li {
  border-top: 1px solid #dfdfdf;
}
.holkee-header-wrap .h-header-tools .dropdown-menu .sub-list ul li a {
  color: #44476a;
}
.holkee-header-wrap .h-header-tools .dropdown-menu .sub-list ul li a:hover {
  background-color: #eaeaea;
}

.holkee-footer-wrap ul.link li a,
.holkee-footer-wrap ul.info li a {
  color: #7332C1;
}
.holkee-footer-wrap ul.follow-us li a {
  color: #7332C1;
}
.holkee-footer-wrap ul.follow-us li a:hover {
  color: #a91e2c;
}
.holkee-footer-wrap p.copyrights {
  color: #7332C1;
}

.h-text-wrap h3.main-title {
  color: #44476a;
}
.h-text-wrap h3.main-title::after {
  background-color: #c488ff;
}
.h-text-wrap .text {
  color: #44476a;
}
.h-text-wrap .text a {
  color: #21253b;
}
.h-text-wrap .order-type {
  background-color: #fff;
  border: 1px solid #DFDFDF;
}

.form-style label.label-title {
  color: #44476a;
}
.form-style form.account .a-row p.fl-r a {
  color: #44476a;
}
.form-style form.account input.user:disabled {
  color: #44476a;
}
.form-style form.orderinfo-form .top-title {
  background-color: #F9F9F9;
  border-bottom: 1px solid #E1E1E1;
}
.form-style form.orderinfo-form .top-title .type-tools .the-select select {
  background-color: #fff;
}
.form-style form.orderinfo-form .top-title .type-tools .h-btn-primary-line-m {
  background-color: #fff;
  border-color: #DCDCDC;
}
.form-style form.orderinfo-form .top-title .type-tools .h-btn-primary-line-m:hover {
  border-color: #44476a;
}
.form-style form.orderinfo-form ul.a-row li .result-products li {
  border-bottom: 1px solid #E1E1E1;
}
.form-style form.orderinfo-form ul.a-row li.total-amount {
  border: 1px solid #E1E1E1;
  border-width: 1px 0 1px 0;
}

.submit-text p {
  color: #44476a;
}

.text-note {
  background-color: #FFFEE7;
}

.bg-note-red {
  background-color: #FFF5F5;
}

.bg-note-green {
  border-color: #72CA3F;
  background-color: #f5ffef;
}
.bg-note-green i {
  color: #72CA3F;
}

.alcohol-warning-banner {
  color: #fff;
  background-color: #594842;
}

.holkee-contactus .sub-title {
  color: #44476a;
}
.holkee-contactus .privacy-policy {
  color: #888;
}
.holkee-contactus .text-note {
  color: #44476a;
}
.holkee-contactus .txn-checkbox {
  color: #44476a;
}
.holkee-contactus .txn-checkbox a {
  color: #334fe3;
}
.holkee-contactus .company-info {
  color: #44476a;
}
.holkee-contactus .company-info ul.list li i {
  color: #9e3ffd;
}
.holkee-contactus .company-info ul.list li p a {
  color: #44476a;
}

.holkee-news .h-mid-cont .text-info .text {
  color: #44476a;
}
.holkee-news .h-mid-cont .text-info .date {
  color: #888;
}

.holkee-services .h-mid-cont .a-row .text-info .text {
  color: #44476a;
}

.holkee-fb-post,
.holkee-ig-post {
  background-color: #fff;
}

.holkee-fb-gallery,
.holkee-ig-gallery {
  background-color: #fff;
}

.shop-menu ul li {
  color: #44476a;
}
.shop-menu ul.item-main li {
  background-color: #e6e7ee;
  color: #44476a;
}
.shop-menu ul.item-main li:hover, .shop-menu ul.item-main li.selected {
  color: #a91e2c;
}
.shop-menu ul li:hover {
  color: #0048A7;
}
.shop-menu ul.item-subtitle {
  border-top: 1px solid #c0c0c0;
}
.shop-menu ul.item-subtitle li:hover, .shop-menu ul.item-subtitle li.selected {
  color: #a91e2c;
}
@media all and (max-width: 700px) {
  .shop-menu ul.item-subtitle {
    border-color: #DCDCDC;
  }
}

.top-breadcrumb {
  color: #888;
}
.top-breadcrumb a {
  color: #888;
}

.manage-breadcrumb {
  border-bottom: #d1d9e6 1px solid;
}
.manage-breadcrumb .h-mid-cont a.home {
  color: #9e3ffd;
  border: 1px solid #DCDCDC;
}
.manage-breadcrumb .h-mid-cont a.home:hover {
  background-color: #f8f8f8;
}
.manage-breadcrumb .h-mid-cont .the-select select:disabled {
  background-color: #F2F2F2;
}
.manage-breadcrumb .h-mid-cont .the-select select:disabled:hover {
  border-color: #DCDCDC;
}

ul.dropdown-list {
  background-color: #fff;
}
ul.dropdown-list li {
  color: #333;
  border-bottom: 1px solid #eaeaea;
}
ul.dropdown-list a {
  color: #333;
}
ul.dropdown-list a:hover {
  background-color: #eaeaea;
}

.holkee-shop .shop-tools .search .icon {
  color: #44476a;
}
.holkee-shop .text-info .sub-title {
  color: #44476a;
}
.holkee-shop .price .discount {
  color: #FF5539;
}
.holkee-shop .price .original {
  color: #888;
}

.holkee-swiper .swiper-button-next:after,
.holkee-swiper .swiper-button-prev:after {
  color: #fff;
  background-color: #9e3ffd;
}
.holkee-swiper :root {
  --swiper-theme-color: $h-color-blue;
}

.holkee-products-swiper .swiper-button-next:after,
.holkee-products-swiper .swiper-button-prev:after {
  color: #fff;
  background-color: #9e3ffd;
}
.holkee-products-swiper .swiper-products-cont .text {
  color: #44476a;
}
.holkee-products-swiper .price .discount {
  color: #FF5539;
}
.holkee-products-swiper .price .original {
  color: #888;
}

.holkee-products-main-swiper .coverSwiperLarge a.btn-magnifier {
  background-color: #e6e7ee;
  color: #44476a;
}
.holkee-products-main-swiper .swiper-slide-thumb-active img {
  border: 1px solid #d1d9e6;
}
.holkee-products-main-swiper .swiper-button-next:hover:after {
  background-color: #333;
}
.holkee-products-main-swiper .swiper-button-prev:hover:after {
  background-color: #333;
}
.holkee-products-main-swiper .swiper-button-next:after,
.holkee-products-main-swiper .swiper-button-prev:after {
  color: #fff;
  background-color: #333333;
}

.holkee-product-info .h-product-cont {
  background-color: #e6e7ee;
}

.quantity-cont .select-quantity {
  border: 2px solid #dadada;
}
.quantity-cont .select-quantity input.qty-input[type=number] {
  -moz-appearance: textfield;
}
.quantity-cont .select-quantity span {
  background-color: #fff;
}
.quantity-cont .select-quantity span.plus {
  border-left: 1px solid #dedede;
}
.quantity-cont .select-quantity span.minus {
  border-right: 1px solid #dedede;
}
.quantity-cont .select-quantity span.plus:hover, .quantity-cont .select-quantity span.minus:hover {
  background-color: #f3f3f3;
}
.quantity-cont .select-quantity span.minus-none {
  color: #dadada;
  background: none;
}
.quantity-cont .select-quantity span.minus-none:hover {
  background-color: #fff;
}

.h-product-cont .shop-label {
  color: #44476a;
}
.h-product-cont .shop-spec a {
  color: #44476a;
  border-color: #DCDCDC;
  background-color: #fff;
}
.h-product-cont .shop-spec a.selected {
  color: #9e3ffd;
  border-color: #9e3ffd;
}
.h-product-cont .shop-spec a:hover {
  color: #9e3ffd;
  border-color: #9e3ffd;
}
.h-product-cont .shop-status tr,
.h-product-cont .shop-status td {
  color: #44476a;
}
.h-product-cont .price .discount {
  color: #FF5539;
}
.h-product-cont .price .original {
  color: #888;
}
.h-product-cont .discount-contents {
  border-left: 3px solid #dadada;
}
.h-product-cont .discount-contents li {
  color: #888;
}
.h-product-cont .discount-contents li .l-label {
  border: 2px solid #dadada;
}
.h-product-cont .discount-contents li.more a {
  background-color: #f4f4f4;
  color: #6e6e6e;
}
.h-product-cont .discount-contents li.more span {
  color: #9e3ffd;
}
.h-product-cont .stock {
  color: #888;
}
.h-product-cont a.btn-car {
  color: #44476a;
}
.h-product-cont a.btn-car span.nb {
  color: #fff;
  background-color: #FF5539;
}
.h-product-cont .txn-checkbox a {
  color: #21253b;
}

.h-magnifier-info .h-products-info .selected img {
  border: 2px solid #9e3ffd;
}

.form-table .a-row {
  border-bottom: 1px solid #d1d9e6;
}
.form-table .a-row:last-child {
  border: none;
}
.form-table .a-row:hover {
  background-color: #f7f7f7;
}
.form-table .a-row .quantity-cont .select-quantity {
  border: 2px solid #dadada;
}
.form-table .bg-title {
  color: #fff;
  background-color: #9e3ffd;
}
.form-table .bg-title p {
  color: #fff;
}
.form-table .bg-title:hover {
  background-color: #9e3ffd;
}

.holkee-shoppingcart h5.sub-title a.f-ss {
  color: #21253b;
}
.holkee-shoppingcart .show-more {
  border: 1px solid #d1d9e6;
  color: #555;
}
.holkee-shoppingcart .show-more:hover {
  background-color: #f7f7f7;
}
.holkee-shoppingcart .product-list .a-row .tools a.icon-delete {
  border: 1px solid #d1d9e6;
  color: #9e3ffd;
}
.holkee-shoppingcart .product-list .a-row .tools a.icon-delete:hover {
  border-color: #9e3ffd;
}
.holkee-shoppingcart .product-list .a-row .product-name .price {
  color: #9E9E9E;
}
.holkee-shoppingcart .product-list .a-row .product-name a {
  color: #555;
}
.holkee-shoppingcart .product-list .bg-title .order-photo .h-control input:checked ~ .h-control__indicator {
  border-color: #fff;
  background-color: #fff;
}
.holkee-shoppingcart .product-list .bg-title .order-photo .h-control input:checked ~ .h-control__indicator::after {
  border-color: #333;
}
.holkee-shoppingcart .product-list .off-out .off-text {
  background-color: #888;
  color: #fff;
}
.holkee-shoppingcart .orderinfo-form .txn-checkbox a {
  color: #21253b;
}
.holkee-shoppingcart .orderinfo-form .line-dashed {
  border-bottom: 1px dashed #C3C3C3;
}
.holkee-shoppingcart .orderinfo-form .fl .text-copy a {
  color: #555;
}

.tools a.icon {
  border: 1px solid #DCDCDC;
  color: #222;
}
.tools a.icon:hover {
  background-color: #fff;
}

.orders-list .a-row .order-nb a {
  color: #334fe3;
}
.orders-list .bg-title .order-nb .h-control input:checked ~ .h-control__indicator {
  border-color: #fff;
  background-color: #fff;
}
.orders-list .bg-title .order-nb .h-control input:checked ~ .h-control__indicator::after {
  border-color: #333;
}

.top-tab {
  border: 1px solid #DCDCDC;
}
.top-tab li {
  border-right: 1px solid #DCDCDC;
}
.top-tab li a {
  border-bottom: 3px solid #DCDCDC;
  background-color: #fff;
  color: #555;
  background-color: #F7F7F7;
}
.top-tab li a:hover {
  color: #9e3ffd;
}
.top-tab li.selected a {
  background-color: #fff;
  color: #9e3ffd;
  border-color: #9e3ffd;
}

.login-cont .text a {
  color: #9e3ffd;
}

.h-white-popup {
  background: #e6e7ee;
}

.h-product-cont .form-style {
  background: #e6e7ee;
}/*# sourceMappingURL=color_0008.css.map */