// 源泉源體
@font-face {
    font-family: 'GenSenRounded-B';
    src: url('../css/font/GenSenRounded-B.woff') format("woff"),
        // url('../css/font/') format("truetype"),
        // url('../css/font/ChenYuluoyan.eot') format("embedded-opentype");
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
select,
input,
textarea {
    font-family: "GenSenRounded-B", serif;
    font-style: normal;
    // font-weight: 200;
    // font-weight: 300;
    // font-weight: 400;
    // font-weight: 500;
    // font-weight: 600;
    // font-weight: 700;
    // font-weight: 900;
}