// 源雲明體
@font-face {
  font-family: 'GenWanMin-SB';
  src: url('../css/font/GenWanMin-SB.ttc') format("woff"),
    // url('../css/font/') format("truetype"),
    // url('../css/font/ChenYuluoyan.eot') format("embedded-opentype");
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
select,
input,
textarea {
  font-family: "GenWanMin-SB", serif;
  font-style: normal;
  // font-weight: 200;
  // font-weight: 300;
  // font-weight: 400;
  // font-weight: 500;
  // font-weight: 600;
  // font-weight: 700;
  // font-weight: 900;
}