.holkee-footer-wrap {
  .h-mid-cont {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  ul.info {
    flex:36%;
    max-width: 36%;
    padding-right: 15px;
    
  }
  @media all and (max-width: 992px) {
    ul.info {
      flex:50%;
      max-width: 50%;
    }
  }
  @media all and (max-width: 768px) {
    ul.follow-us {
      padding-top:0;
    }
  }
  @media all and (max-width: 576px) {
    .h-mid-cont{
      flex-direction: column;
      align-items: flex-start;
    }
    ul.info {
      margin-left: initial;
      flex:100%;
      max-width:100%;
      padding-right: initial;
      padding-top: 20px;
    }
    ul.link{
      flex: 100%;
    }
    ul.follow-us{
      flex: 100%;
      margin-left: initial;
      padding-left: 0;
      padding-top:20px;
    }
    p.copyrights {
      padding-left: 0;
    }
  }
}