// header
.holkee-header-wrap{
  .h-mid-cont {
    justify-content: space-between;
  }
  .menu{
    display: none;
  }
  .h-header-tools{
    margin-left: auto;
  }
  @media all and (max-width: 768px) {
  }
}

.menu-btn {
  margin-left: 5px;
  display: block;
}