// header
.holkee-header-wrap{
  .h-mid-cont{
    flex-direction: column;
    align-content: center;
  }
  .h-header-tools {
    position: absolute;
    bottom: 0;
    right: 10px;
  }
  .menu{
    padding-top: 10px;
  }
  @media all and (max-width: 768px) {
    .h-mid-cont {
      flex-direction: initial;
    }
    .h-header-tools{
      position: initial;
      margin-left: auto;
    }
  }
}

.menu-btn {
  margin-left: 5px;
  @media all and (max-width: 768px) {
    display: block;
  }
}