.h-text-description {
  font-size: 0.875rem;
  line-height: 1.5;
}
@media all and (max-width: 500px) {
  .h-text-description {
    font-size: 0.813rem;
  }
}

.h-text-reminder {
  font-size: 0.875rem;
  line-height: 1.5;
}
@media all and (max-width: 500px) {
  .h-text-reminder {
    font-size: 0.813rem;
  }
}
@media all and (max-width: 450px) {
  .h-text-reminder {
    font-size: 0.75rem;
  }
}

.h-btn-primary-xl {
  font-size: 0.938rem;
  background-color: #222;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  min-width: 168px;
  height: 50px;
  border: 1px #222 solid;
}
@media all and (max-width: 500px) {
  .h-btn-primary-xl {
    height: 45px;
    font-size: 0.875rem;
    min-width: 148px;
  }
}
@media all and (max-width: 450px) {
  .h-btn-primary-xl {
    min-width: 120px;
    font-size: 0.813rem;
    padding: 2.5px 5px;
  }
}
@media all and (max-width: 400px) {
  .h-btn-primary-xl {
    min-width: 100px;
  }
}

.h-btn-primary-line-xl {
  font-size: 0.938rem;
  border: 1px #222 solid;
  color: #222;
  border-radius: 4px;
  font-weight: bold;
  min-width: 168px;
  height: 50px;
  cursor: pointer;
  border: 1px #222 solid;
}
.h-btn-primary-line-xl:hover {
  background-color: #eaeaea;
}
@media all and (max-width: 500px) {
  .h-btn-primary-line-xl {
    height: 45px;
    font-size: 0.875rem;
    min-width: 148px;
  }
}
@media all and (max-width: 450px) {
  .h-btn-primary-line-xl {
    font-size: 0.813rem;
    min-width: 130px;
  }
}
@media all and (max-width: 400px) {
  .h-btn-primary-line-xl {
    min-width: 100px;
  }
}

.h-btn-primary-l {
  font-size: 0.938rem;
  background-color: #222;
  border-radius: 4px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: bold;
  min-width: 90px;
  height: 46px;
  border: 1px #222 solid;
}
@media all and (max-width: 500px) {
  .h-btn-primary-l {
    font-size: 0.813rem;
  }
}
@media all and (max-width: 450px) {
  .h-btn-primary-l {
    font-size: 0.75rem;
  }
}

.h-btn-primary-m {
  font-size: 0.938rem;
  background-color: #222;
  border-radius: 4px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: bold;
  min-width: 90px;
  height: 35px;
  border: 1px #222 solid;
}
@media all and (max-width: 500px) {
  .h-btn-primary-m {
    font-size: 0.75rem;
  }
}

.h-btn-bg-red {
  background-color: #FF5539;
  border-color: #FF5539;
}

.h-btn-bg-darkblue {
  background-color: #0048A7;
  border-color: #0048A7;
}

.h-btn-bg-white {
  background-color: white;
  border-color: white;
  color: #222;
}

.h-h-btn-line-white:hover {
  color: #222;
}

.h-btn-primary-line-m {
  font-size: 0.938rem;
  border: 1px #222 solid;
  color: #222;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: bold;
  min-width: 90px;
  height: 35px;
  border: 1px #222 solid;
}
.h-btn-primary-line-m:hover {
  background-color: #eaeaea;
}
@media all and (max-width: 500px) {
  .h-btn-primary-line-m {
    font-size: 0.75rem;
    min-width: 80px;
  }
}

.h-btn-disabled {
  cursor: initial;
  background-color: #B1B1B1;
  border-color: #B1B1B1;
}
.h-btn-disabled:hover {
  opacity: 1;
}

@media all and (max-width: 500px) {
  article.text-terms {
    font-size: 0.813rem;
  }
}

.h-the-select {
  border-radius: 4px;
}
.h-the-select::after {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  right: 15px;
  display: inline-block;
  width: 12px;
  height: 6px;
  background: url(../images/svg/arr_down_k.svg) center center no-repeat;
  background-size: contain;
  font-weight: 900;
  pointer-events: none;
}
.h-the-select select {
  width: 100%;
  height: 46px;
  font-size: 0.938rem;
  border: #DCDCDC 1px solid;
  border-radius: 4px;
  line-height: 46px;
  color: #333;
}
.h-the-select select:hover {
  border-color: #888;
}
@media all and (max-width: 500px) {
  .h-the-select select {
    font-size: 0.813rem;
    line-height: 40px;
    height: 40px;
  }
}

.holkee-swiper .swiper-pagination-bullet {
  background-color: #222;
}

input.default {
  line-height: 44px;
}
@media all and (max-width: 500px) {
  input.default {
    line-height: 40px;
  }
}

input.default,
textarea.default {
  height: 46px;
  font-size: 0.938rem;
  border-radius: 4px;
  border: #DCDCDC 1px solid;
  color: #333;
}
input.default:focus,
textarea.default:focus {
  border-color: #888;
  background-color: #fcfcfc;
}
@media all and (max-width: 500px) {
  input.default,
  textarea.default {
    font-size: 0.813rem;
    height: 40px;
  }
}

textarea.default {
  line-height: 1.5;
}

input.has-error,
textarea.has-error {
  border: 1px #FF5539 solid;
}
input.has-error:hover, input.has-error:focus,
textarea.has-error:hover,
textarea.has-error:focus {
  border: 1px #FF5539 solid;
}

.h-both-btn {
  align-items: center;
  padding: 25px 0 15px 0;
}
.h-both-btn a {
  margin: 2.5px 10px 2.5px 0;
}

.switch-type .switchbutton {
  height: 22px;
  background-color: #eee;
  border-radius: 22px;
}
.switch-type .switchbutton:before {
  content: "";
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 22px;
  border: 2px solid #eee;
}
.switch-type .switchbutton:after {
  left: 2px;
  top: 2px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0px 1px 3px #bbb;
}
.switch-type input:checked ~ .switchbutton:before {
  background-color: #FFBC00;
  border: 1px solid #FFBC00;
}
.switch-type input:checked ~ .switchbutton:before {
  background-color: #FFBC00;
  border: 1px solid #FFBC00;
}
.switch-type input:disabled ~ .switchbutton:before {
  background-color: #B1B1B1;
  border: 1px solid #B1B1B1;
}

.note-list {
  font-size: 0.938rem;
  line-height: 1.5;
}

.h-control {
  min-width: 70px;
  font-size: 0.875rem;
  color: #333;
}
.h-control input:checked ~ .h-control__indicator {
  background: #333;
  border-color: #333;
}
@media all and (max-width: 500px) {
  .h-control {
    font-size: 0.813rem;
  }
}

.h-control__indicator {
  height: 15px;
  width: 15px;
  border-radius: 4px;
  border: 2px solid #cfcfcf;
  background-color: #fff;
}

.h-control--checkbox .h-control__indicator:after {
  border: solid #fff;
  border-width: 0 3px 3px 0;
}

.h-control--radio .h-control__indicator:after {
  left: calc(50% - 2.5px);
  top: calc(50% - 2.5px);
  height: 5px;
  width: 5px;
  border-radius: 50%;
}
.h-control--radio input:checked ~ .h-control__indicator:after {
  background: #fff;
}
.h-control--radio input:disabled ~ .h-control__indicator:after {
  background-color: #333;
}
.h-control--radio input:disabled:checked ~ .h-control__indicator:after {
  background-color: #333;
}

.h-mid-content {
  width: calc(100% - 40px);
  max-width: 1090px;
  min-width: 320px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 12px;
  margin: 30px auto 70px auto;
}
@media all and (max-width: 500px) {
  .h-mid-content {
    margin: 25px auto;
  }
}

.menu-btn span {
  font-size: 20px;
  width: 45px;
  height: 45px;
  color: #fff;
  line-height: 45px;
}
.menu-btn span::after {
  width: 45px;
  line-height: 45px;
}

.pushy {
  width: 230px;
  background: #191918;
  overflow: auto;
}
.pushy a {
  font-size: 1.125rem;
  color: #fff;
}
.pushy a:hover {
  color: #FFF;
}
.pushy ul:first-child {
  margin-top: 30px;
}
.pushy ul li a {
  padding-left: 20px;
}

.pushy-submenu > ul {
  font-size: 0.813rem;
}
.pushy-submenu > ul .pushy-link {
  font-size: 0.938rem;
}

.pushy-submenu button {
  color: #fff;
  font-size: 1rem;
}
.pushy-submenu button:hover {
  color: #FFF;
}

.holkee-header-wrap {
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 3;
}
.holkee-header-wrap .menu li p {
  font-size: 0.938rem;
  color: #fff;
}
.holkee-header-wrap .menu li p a {
  color: #fff;
}
.holkee-header-wrap .h-header-tools li a {
  width: 40px;
  height: 40px;
  color: #fff;
  align-content: center;
}
.holkee-header-wrap .h-header-tools li a.btn-car span.nb {
  background-color: #FFBC00;
  color: #222;
}
.holkee-header-wrap .h-header-tools li a:hover i {
  opacity: 0.9;
}
.holkee-header-wrap .h-header-tools .dropdown-menu .sub-list {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 12px;
}
.holkee-header-wrap .h-header-tools .dropdown-menu .sub-list ul li {
  border-top: 1px solid #dfdfdf;
}
.holkee-header-wrap .h-header-tools .dropdown-menu .sub-list ul li a {
  color: #222;
}
.holkee-header-wrap .h-header-tools .dropdown-menu .sub-list ul li a:hover {
  background-color: #eaeaea;
}
@media all and (max-width: 650px) {
  .holkee-header-wrap .logo {
    width: 80px;
  }
}
@media all and (max-width: 500px) {
  .holkee-header-wrap p {
    font-size: 0.813rem;
  }
}

.holkee-footer-wrap {
  background-color: #fff;
  border-top: 1px #E1E1E1 solid;
}
.holkee-footer-wrap .h-mid-cont {
  width: calc(100% - 40px);
  max-width: 1600px;
}
.holkee-footer-wrap .logo {
  width: 110px;
}
.holkee-footer-wrap ul.link li,
.holkee-footer-wrap ul.info li {
  font-size: 0.875rem;
}
.holkee-footer-wrap ul.link li a,
.holkee-footer-wrap ul.info li a {
  color: #222;
}
.holkee-footer-wrap ul.follow-us li a {
  color: #222;
  font-size: 1.25rem;
}
.holkee-footer-wrap .styled-select select {
  font-size: 0.875rem;
}
.holkee-footer-wrap p.copyrights {
  font-size: 0.688rem;
  color: #939393;
}
@media all and (max-width: 1600px) {
  .holkee-footer-wrap .h-mid-cont {
    max-width: 1200px;
  }
}
@media all and (max-width: 650px) {
  .holkee-footer-wrap .logo {
    width: 80px;
  }
  .holkee-footer-wrap ul.link li,
  .holkee-footer-wrap ul.info li {
    font-size: 0.813rem;
  }
  .holkee-footer-wrap ul.follow-us {
    text-align: left;
  }
  .holkee-footer-wrap ul.follow-us li {
    font-size: 0.938rem;
  }
  .holkee-footer-wrap ul.follow-us li a {
    font-size: 0.938rem;
  }
  .holkee-footer-wrap .styled-select select {
    font-size: 0.813rem;
  }
}
@media all and (max-width: 550px) {
  .holkee-footer-wrap .h-mid-cont {
    width: calc(100% - 20px);
  }
  .holkee-footer-wrap ul.link {
    padding-bottom: 0;
  }
  .holkee-footer-wrap ul.follow-us li {
    font-size: 0.875rem;
  }
  .holkee-footer-wrap ul.follow-us li a {
    font-size: 0.875rem;
  }
  .holkee-footer-wrap p.copyrights {
    padding-top: 15px;
    text-align: left;
  }
}

.h-text-wrap h3.main-title {
  font-weight: bold;
  font-size: 1.625rem;
  position: relative;
  padding: 30px 0 25px 0;
  margin-bottom: 20px;
  line-height: 1.25;
}
.h-text-wrap h3.main-title::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 40px;
  height: 3px;
  background-color: #FFBC00;
}
.h-text-wrap .text {
  line-height: 1.5;
}
.h-text-wrap .text a {
  color: #0058CB;
  text-decoration: underline;
}
.h-text-wrap .text a:hover {
  text-decoration: none;
}
@media all and (max-width: 700px) {
  .h-text-wrap h3.main-title {
    padding-top: 0px;
    font-size: 1.25rem;
  }
  .h-text-wrap .text, .h-text-wrap .note-list {
    font-size: 0.875rem;
  }
}
@media all and (max-width: 1200px) {
  .h-text-wrap h3.main-title {
    font-size: 1.25rem;
  }
}
@media all and (max-width: 600px) {
  .h-text-wrap h3.main-title {
    font-size: 1rem;
  }
}

.form-style label.label-title {
  color: #222;
  font-weight: bold;
}
@media all and (max-width: 500px) {
  .form-style label.label-title {
    font-size: 0.875rem;
  }
}

.submit-text {
  margin-top: 10px;
  padding: 25px 20px;
  border: #DCDCDC 1px solid;
  background-color: #fff;
  border-radius: 4px;
}
.submit-text p {
  line-height: 1.5;
  color: #555;
  font-weight: bold;
}
@media all and (max-width: 600px) {
  .submit-text {
    padding: 10px 15px;
    font-size: 0.875rem;
  }
}

.text-note {
  background-color: #FFFEE7;
  border: 1px solid #E2E3C1;
  border-radius: 4px;
}

.bg-note-red {
  border-color: #FFA0B0;
  background-color: #FFF5F5;
}

.h-white-popup {
  border-radius: 4px;
}

.h-popup-container .h-text-wrap h3.main-title {
  font-size: 1.4rem;
}

.holkee-aboutus {
  background-color: #fff;
}
.holkee-aboutus .h-mid-cont {
  width: calc(100% - 30px);
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
}
.holkee-aboutus .h-photo-wrap {
  flex: 40%;
  padding: 20px;
}
.holkee-aboutus .h-text-wrap {
  flex: 60%;
  padding: 20px;
}
@media all and (max-width: 1600px) {
  .holkee-aboutus .h-mid-cont {
    max-width: 1200px;
  }
}
@media all and (max-width: 900px) {
  .holkee-aboutus {
    padding: 15px 0;
  }
}
@media all and (max-width: 750px) {
  .holkee-aboutus {
    padding: 10px 0;
  }
  .holkee-aboutus .h-mid-cont {
    width: calc(100% - 10px);
    flex-direction: column;
  }
}

.holkee-aboutus-single .h-text-wrap {
  margin: 0 auto;
  max-width: 1600px;
}
.holkee-aboutus-single .text-info {
  padding: 20px 20px 40px 20px;
  margin: 0 auto;
  max-width: 1600px;
}
.holkee-aboutus-single .text-info .text {
  line-height: 1.5;
}
.holkee-aboutus-single .text-info .h-btn {
  padding-top: 40px;
}
.holkee-aboutus-single .h-mid-cont {
  width: calc(100% - 30px);
  max-width: 1600px;
  margin: 40px auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 12px;
}
.holkee-aboutus-single .h-photo-wrap {
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media all and (max-width: 1600px) {
  .holkee-aboutus-single .h-text-wrap {
    width: calc(100% - 30px);
    max-width: 1200px;
  }
  .holkee-aboutus-single .h-mid-cont {
    width: calc(100% - 30px);
    max-width: 1200px;
  }
}
@media all and (max-width: 1200px) {
  .holkee-aboutus-single .h-photo-wrap {
    height: 300px;
  }
}
@media all and (max-width: 1000px) {
  .holkee-aboutus-single .h-photo-wrap {
    height: 250px;
  }
}
@media all and (max-width: 700px) {
  .holkee-aboutus-single .h-mid-cont .text-info .text {
    font-size: 0.875rem;
  }
  .holkee-aboutus-single .h-photo-wrap {
    height: 200px;
  }
}

.holkee-grid .h-btn-banner {
  min-height: 450px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.holkee-grid .h-btn-banner:first-child {
  background-image: url(../images/img_gird_01.png);
}
.holkee-grid .h-btn-banner:last-child {
  background-image: url(../images/img_gird_02.png);
}
@media all and (max-width: 1200px) {
  .holkee-grid .h-btn-banner {
    min-height: 350px;
  }
}
@media all and (max-width: 1000px) {
  .holkee-grid .h-btn-banner {
    min-height: 250px;
  }
}
@media all and (max-width: 800px) {
  .holkee-grid .h-btn-banner {
    min-height: 200px;
  }
}
@media all and (max-width: 800px) {
  .holkee-grid .h-btn-banner {
    min-height: 150px;
  }
}

.holkee-promotion {
  padding: 40px 0;
}
.holkee-promotion .h-mid-cont {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}
.holkee-promotion .h-mid-cont .h-photo-wrap {
  background-image: url(../images/img_promotion.png);
}
@media all and (max-width: 400px) {
  .holkee-promotion {
    padding: 20px 0;
  }
}

.holkee-contactus {
  width: calc(100% - 30px);
  max-width: 1600px;
  margin: 0 auto;
}
.holkee-contactus h4.sub-title {
  font-size: 1.125rem;
  font-weight: bold;
}
.holkee-contactus .privacy-policy {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 5px 0;
}
.holkee-contactus .privacy-policy .text {
  font-size: 0.875rem;
  line-height: 1.5;
}
.holkee-contactus .h-mid-cont {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.holkee-contactus .form-style {
  flex: calc(40% - 30px);
  padding-right: 30px;
}
.holkee-contactus .txn-checkbox {
  margin-bottom: 15px;
}
.holkee-contactus .txn-checkbox a {
  color: #0058CB;
}
.holkee-contactus .company-info {
  flex: 30%;
  padding-right: 30px;
}
.holkee-contactus .company-info ul.list li {
  padding-bottom: 25px;
}
.holkee-contactus .company-info ul.list li i {
  width: 1rem;
  top: 5px;
}
.holkee-contactus .company-info ul.list li p {
  padding-left: 35px;
  position: relative;
  line-height: 1.5;
}
.holkee-contactus .company-info ul.list li p a {
  color: #222;
}
.holkee-contactus .google-map {
  flex: 30%;
  padding-top: 20px;
  border-radius: 4px;
}
.holkee-contactus .google-map iframe {
  height: 260px;
}
@media all and (max-width: 1600px) {
  .holkee-contactus {
    max-width: 1200px;
  }
  .holkee-contactus .h-mid-cont {
    max-width: 1200px;
  }
}
@media all and (max-width: 1000px) {
  .holkee-contactus .form-style {
    flex: calc(50% - 30px);
  }
  .holkee-contactus .company-info {
    flex: calc(50% - 15px);
    padding: 0 0 0 15px;
  }
  .holkee-contactus .google-map {
    padding-top: 50px;
  }
}
@media all and (max-width: 750px) {
  .holkee-contactus h4.sub-title {
    font-size: 0.938rem;
  }
  .holkee-contactus .h-mid-cont {
    padding-top: 0;
  }
  .holkee-contactus .form-style {
    flex: 100%;
    padding-right: 0;
  }
  .holkee-contactus .company-info {
    flex: 100%;
    padding: 20px 0 0 0;
  }
}
@media all and (max-width: 600px) {
  .holkee-contactus {
    width: initial;
  }
  .holkee-contactus form {
    padding: 0;
  }
  .holkee-contactus .google-map {
    padding-top: 0px;
  }
}

.holkee-policy {
  width: calc(100% - 30px);
  max-width: 1600px;
}
.holkee-policy .h-mid-cont {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 12px;
}
.holkee-policy .privacy-policy {
  width: 100%;
}
.holkee-policy .privacy-policy .text {
  line-height: 1.5;
}
@media all and (max-width: 600px) {
  .holkee-policy .privacy-policy .text {
    font-size: 0.875rem;
  }
}

.holkee-news .h-text-wrap {
  padding: 0 20px;
}
.holkee-news .h-mid-cont {
  width: 100%;
  max-width: 1600px;
  padding: 0 20px;
}
.holkee-news .h-mid-cont .a-row {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 12px;
  margin: 35px 0;
}
.holkee-news .h-mid-cont .h-photo-wrap {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
}
.holkee-news .h-mid-cont .text-info {
  padding: 25px 30px;
  flex: calc(100% - 250px);
  display: flex;
  flex-direction: column;
}
.holkee-news .h-mid-cont .text-info h4.sub-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.holkee-news .h-mid-cont .text-info .date {
  margin-top: auto;
  color: #888;
  font-size: 0.875rem;
}
@media all and (max-width: 1600px) {
  .holkee-news .h-mid-cont {
    max-width: 1200px;
  }
}
@media all and (max-width: 1000px) {
  .holkee-news .h-mid-cont .h-photo-wrap {
    width: 200px;
    height: 200px;
  }
  .holkee-news .h-mid-cont .text-info {
    padding: 15px 25px;
    flex: calc(100% - 200px);
  }
  .holkee-news .h-mid-cont .text-info h4.sub-title {
    font-size: 1.125rem;
  }
  .holkee-news .h-mid-cont .text-info .text {
    font-size: 0.875rem;
  }
  .holkee-news .h-mid-cont .text-info .date {
    font-size: 0.688rem;
  }
}
@media all and (max-width: 600px) {
  .holkee-news {
    padding: 20px 0;
  }
  .holkee-news .h-mid-cont .a-row {
    margin: 25px 0;
  }
  .holkee-news .h-mid-cont .h-photo-wrap {
    width: 125px;
    height: 150px;
  }
  .holkee-news .h-mid-cont .text-info {
    padding: 10px 15px;
    flex: calc(100% - 125px);
  }
  .holkee-news .h-mid-cont .text-info h4.sub-title {
    font-size: 0.875rem;
    margin-bottom: 5px;
    line-height: 1.2;
  }
  .holkee-news .h-mid-cont .text-info .text {
    font-size: 0.813rem;
    line-height: 1.4;
    -webkit-line-clamp: 3;
  }
}

.holkee-services .h-text-wrap {
  max-width: 1600px;
  margin: 0 auto;
}
.holkee-services .h-mid-cont {
  width: calc(100% - 30px);
  max-width: 1650px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.holkee-services .h-mid-cont .a-row {
  flex: calc(25% - 50px);
  max-width: calc(25% - 50px);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 12px;
  margin: 35px 25px;
}
.holkee-services .h-mid-cont .h-photo-wrap {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 4px 4px 0 0;
}
.holkee-services .h-mid-cont .text-info {
  padding: 25px 30px;
  flex: calc(100% - 250px);
  display: flex;
  flex-direction: column;
}
.holkee-services .h-mid-cont .text-info h4.sub-title {
  font-size: 1.25rem;
  font-weight: bold;
}
@media all and (max-width: 1750px) {
  .holkee-services .h-mid-cont {
    width: 100%;
  }
}
@media all and (max-width: 1600px) {
  .holkee-services .h-text-wrap {
    max-width: 1200px;
  }
  .holkee-services .h-mid-cont {
    max-width: 1250px;
  }
  .holkee-services .h-mid-cont .a-row {
    flex: calc(33.33% - 50px);
    max-width: calc(33.33% - 50px);
  }
}
@media all and (max-width: 1250px) {
  .holkee-services .h-text-wrap {
    padding: 0 20px;
  }
  .holkee-services .h-mid-cont .a-row {
    margin: 25px 20px;
    flex: calc(50% - 40px);
    max-width: calc(50% - 40px);
  }
  .holkee-services .h-mid-cont .a-row .text-info .sub-title {
    font-size: 1.125rem;
  }
}
@media all and (max-width: 700px) {
  .holkee-services .h-text-wrap {
    padding: 0 20px;
  }
  .holkee-services .h-mid-cont .a-row .text-info {
    padding: 15px 20px;
  }
  .holkee-services .h-mid-cont .a-row .text-info .sub-title {
    font-size: 0.938rem;
  }
  .holkee-services .h-mid-cont .a-row .text-info .text {
    font-size: 0.875rem;
  }
}
@media all and (max-width: 600px) {
  .holkee-services .h-text-wrap {
    padding: 0px;
  }
  .holkee-services .h-mid-cont .a-row {
    margin: 25px 0px;
    flex: 100%;
    max-width: 100%;
  }
  .holkee-services .h-mid-cont .a-row .text-info .sub-title {
    font-size: 1.125rem;
  }
}

.holkee-fb-post, .holkee-ig-post {
  background-color: #fff;
}
.holkee-fb-post .h-mid-cont, .holkee-ig-post .h-mid-cont {
  width: calc(100% - 30px);
  max-width: 1600px;
}
@media all and (max-width: 1600px) {
  .holkee-fb-post .h-text-wrap, .holkee-ig-post .h-text-wrap {
    max-width: 1200px;
    padding: 0 20px;
  }
  .holkee-fb-post .h-mid-cont, .holkee-ig-post .h-mid-cont {
    max-width: 1200px;
  }
}
@media all and (max-width: 600px) {
  .holkee-fb-post .h-text-wrap, .holkee-ig-post .h-text-wrap {
    width: initial;
  }
  .holkee-fb-post .h-mid-cont, .holkee-ig-post .h-mid-cont {
    width: initial;
  }
}

.holkee-fb-gallery, .holkee-ig-gallery {
  background-color: #fff;
}
.holkee-fb-gallery .h-text-wrap, .holkee-ig-gallery .h-text-wrap {
  width: calc(100% - 30px);
  max-width: 1560px;
  margin: 0 auto;
}
.holkee-fb-gallery .h-mid-cont, .holkee-ig-gallery .h-mid-cont {
  width: calc(100% - 30px);
  max-width: 1600px;
}
.holkee-fb-gallery .h-mid-cont .a-photo, .holkee-ig-gallery .h-mid-cont .a-photo {
  flex: 20%;
  padding: 10px;
  max-width: 20%;
}
.holkee-fb-gallery .h-mid-cont .a-photo img, .holkee-ig-gallery .h-mid-cont .a-photo img {
  width: 100%;
  border-radius: 4px;
}
@media all and (max-width: 1600px) {
  .holkee-fb-gallery .h-text-wrap, .holkee-ig-gallery .h-text-wrap {
    max-width: 1200px;
    padding: 0 20px;
  }
  .holkee-fb-gallery .h-mid-cont, .holkee-ig-gallery .h-mid-cont {
    max-width: 1200px;
  }
}
@media all and (max-width: 1200px) {
  .holkee-fb-gallery .h-mid-cont, .holkee-ig-gallery .h-mid-cont {
    width: calc(100% - 40px);
  }
  .holkee-fb-gallery .h-mid-cont .a-photo, .holkee-ig-gallery .h-mid-cont .a-photo {
    flex: 25%;
    max-width: 25%;
  }
}
@media all and (max-width: 700px) {
  .holkee-fb-gallery .h-mid-cont, .holkee-ig-gallery .h-mid-cont {
    width: calc(100% - 50px);
  }
  .holkee-fb-gallery .h-mid-cont .a-photo, .holkee-ig-gallery .h-mid-cont .a-photo {
    flex: 33.3%;
    max-width: 33.3%;
    padding: 5px;
  }
}
@media all and (max-width: 600px) {
  .holkee-fb-gallery .h-mid-cont, .holkee-ig-gallery .h-mid-cont {
    width: calc(100% - 30px);
  }
  .holkee-fb-gallery .h-text-wrap, .holkee-ig-gallery .h-text-wrap {
    width: initial;
  }
}

.holkee-fb-video .h-text-wrap {
  width: calc(100% - 30px);
  max-width: 1560px;
  margin: 0 auto;
}
.holkee-fb-video .h-mid-cont {
  width: calc(100% - 30px);
  max-width: 1600px;
}
.holkee-fb-video .h-mid-cont .a-row {
  flex: 33.33%;
  padding: 20px 20px 40px 20px;
  max-width: 33.33%;
}
.holkee-fb-video .h-mid-cont .a-row iframe {
  width: 100%;
  height: 30vw;
  max-height: 500px;
}
@media all and (max-width: 1600px) {
  .holkee-fb-video .h-text-wrap {
    max-width: 1200px;
    padding: 0 20px;
  }
  .holkee-fb-video .h-mid-cont {
    max-width: 1200px;
  }
}
@media all and (max-width: 1200px) {
  .holkee-fb-video .h-mid-cont .a-row {
    flex: 50%;
    max-width: 50%;
  }
  .holkee-fb-video .h-mid-cont .a-row iframe {
    height: 50vw;
  }
}
@media all and (max-width: 800px) {
  .holkee-fb-video .h-mid-cont .a-row {
    flex: 100%;
    max-width: initial;
    padding-bottom: 15px;
  }
}
@media all and (max-width: 600px) {
  .holkee-fb-video .h-text-wrap {
    width: initial;
  }
  .holkee-fb-video .h-mid-cont {
    width: initial;
  }
}

.holkee-yt-video {
  background-color: #ece2e2;
}
.holkee-yt-video .h-text-wrap {
  width: calc(100% - 30px);
  max-width: 1560px;
  margin: 0 auto;
}
.holkee-yt-video .h-mid-cont {
  width: calc(100% - 30px);
  max-width: 1600px;
}
.holkee-yt-video .h-mid-cont .a-row {
  flex: calc(33.33% - 30px);
  padding: 20px 20px 40px 20px;
  max-width: 33.33%;
}
.holkee-yt-video .h-mid-cont .a-row iframe {
  width: 100%;
  height: 260px;
}
@media all and (max-width: 1600px) {
  .holkee-yt-video .h-text-wrap {
    max-width: 1200px;
    padding: 0 20px;
  }
  .holkee-yt-video .h-mid-cont {
    max-width: 1200px;
  }
  .holkee-yt-video .h-mid-cont .a-row iframe {
    height: 200px;
  }
}
@media all and (max-width: 1200px) {
  .holkee-yt-video .h-mid-cont .a-row {
    flex: 50%;
    max-width: 50%;
  }
  .holkee-yt-video .h-mid-cont .a-row iframe {
    height: 250px;
  }
}
@media all and (max-width: 900px) {
  .holkee-yt-video .h-mid-cont .a-row {
    padding-bottom: 30px;
  }
  .holkee-yt-video .h-mid-cont .a-row iframe {
    height: 180px;
  }
}
@media all and (max-width: 600px) {
  .holkee-yt-video .h-text-wrap {
    width: initial;
  }
  .holkee-yt-video .h-mid-cont {
    width: initial;
  }
  .holkee-yt-video .h-mid-cont .a-row {
    padding-bottom: 20px;
  }
  .holkee-yt-video .h-mid-cont .a-row iframe {
    height: 140px;
  }
}
@media all and (max-width: 500px) {
  .holkee-yt-video .h-mid-cont .a-row {
    flex: 100%;
    max-width: initial;
    padding-bottom: 0px;
  }
  .holkee-yt-video .h-mid-cont .a-row iframe {
    height: 180px;
  }
}

.shop-menu ul li:hover {
  color: #FFBC00;
}
.shop-menu ul.item-main li {
  font-size: 1.125rem;
}
.shop-menu ul.item-subtitle {
  padding-top: 10px;
  border-top: 1px solid #c0c0c0;
}
.shop-menu ul.item-subtitle li {
  font-size: 0.938rem;
}
@media all and (max-width: 800px) {
  .shop-menu ul.item-main li {
    font-size: 1rem;
  }
  .shop-menu ul.item-subtitle li {
    font-size: 0.875rem;
  }
}
@media all and (max-width: 700px) {
  .shop-menu {
    background-color: #fff;
    border-radius: 4px;
  }
  .shop-menu ul {
    padding: 6px 10px 10px 10px;
  }
  .shop-menu ul.item-subtitle {
    border-color: #DCDCDC;
  }
}
@media all and (max-width: 500px) {
  .shop-menu ul.item-main li {
    font-size: 0.875rem;
  }
  .shop-menu ul.item-subtitle li {
    font-size: 0.813rem;
  }
}

.top-breadcrumb {
  color: #888;
}
.top-breadcrumb a {
  color: #888;
}

.holkee-shop .h-mid-cont {
  width: calc(100% - 30px);
  max-width: 1650px;
}
.holkee-shop .item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.holkee-shop .h-photo-wrap {
  width: 100%;
}
.holkee-shop .h-photo-wrap img {
  width: 100%;
  border-radius: 4px;
}
.holkee-shop .a-row {
  flex: calc(20% - 50px);
  max-width: calc(20% - 50px);
  margin: 25px;
}
.holkee-shop .a-row:hover .h-photo-wrap {
  opacity: 0.9;
}
.holkee-shop .shop-tools .search .icon {
  color: #222;
}
.holkee-shop .text-info {
  padding-top: 15px;
  min-height: 100px;
}
.holkee-shop .text-info h4.sub-title {
  font-weight: bold;
}
.holkee-shop .price .discount {
  color: #FF5539;
  font-weight: bold;
  padding-right: 5px;
}
.holkee-shop .price .original {
  color: #888;
  text-decoration: line-through;
  font-size: 0.813rem;
}
@media all and (max-width: 1600px) {
  .holkee-shop .h-mid-cont {
    max-width: 1250px;
  }
  .holkee-shop .h-mid-cont .a-row {
    margin: 20px;
    flex: calc(25% - 40px);
    max-width: calc(25% - 40px);
  }
}
@media all and (max-width: 1000px) {
  .holkee-shop .h-mid-cont {
    max-width: 100%;
    width: 100%;
  }
  .holkee-shop .h-mid-cont .a-row {
    margin: 15px;
    flex: calc(33.33% - 30px);
    max-width: calc(33.33% - 30px);
  }
  .holkee-shop .text-info .price .original {
    font-size: 0.75rem;
  }
}
@media all and (max-width: 700px) {
  .holkee-shop .h-mid-cont .a-row {
    flex: calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
  .holkee-shop .top-breadcrumb {
    padding-top: 55px;
    font-size: 0.813rem;
  }
  .holkee-shop .text-info {
    padding-top: 10px;
  }
  .holkee-shop .text-info h4.sub-title {
    font-size: 0.875rem;
  }
  .holkee-shop .text-info .price {
    font-size: 0.875rem;
  }
  .holkee-shop .text-info .price .original {
    font-size: 0.688rem;
    padding-top: 8px;
    display: block;
  }
}
@media all and (max-width: 500px) {
  .holkee-shop {
    padding: 35px 10px;
  }
  .holkee-shop .text-info {
    padding-top: 10px;
  }
  .holkee-shop .text-info h4.sub-title {
    font-size: 0.813rem;
  }
  .holkee-shop .text-info .price {
    font-size: 0.813rem;
  }
  .holkee-shop .text-info .price .original {
    font-size: 0.688rem;
    padding-top: 8px;
    display: block;
  }
}

.holkee-swiper .swiper-button-next:after,
.holkee-swiper .swiper-button-prev:after {
  color: #fff;
  opacity: 1;
  background-color: #333;
  font-size: 1.625rem;
  padding: 10px 15px;
  border-radius: 4px;
}
.holkee-swiper :root {
  --swiper-theme-color: #222;
}

.holkee-products-swiper img {
  border-radius: 4px;
}
.holkee-products-swiper .swiper-button-next:after,
.holkee-products-swiper .swiper-button-prev:after {
  color: #fff;
  opacity: 1;
  background-color: #333;
  font-size: 1.25rem;
  padding: 8px 15px;
  border-radius: 4px;
}
.holkee-products-swiper .price .discount {
  color: #FF5539;
  padding-right: 5px;
}
.holkee-products-swiper .price .original {
  color: #888;
  text-decoration: line-through;
  font-size: 0.813rem;
}
@media all and (max-width: 700px) {
  .holkee-products-swiper .swiper-products-cont .text {
    font-size: 0.875rem;
    line-height: 1.25;
  }
  .holkee-products-swiper .swiper-products-cont .price {
    font-size: 0.875rem;
  }
  .holkee-products-swiper .swiper-products-cont .price .original {
    font-size: 0.688rem;
    padding-top: 7px;
    display: block;
  }
}

.holkee-products-main-swiper .coverSwiperLarge a.btn-magnifier {
  width: 45px;
  height: 45px;
  border: 1px solid #DCDCDC;
  background-color: #FFF;
  border-radius: 4px;
  font-size: 20px;
  color: #222;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.holkee-products-main-swiper .coverSwiperLarge a.btn-magnifier:hover {
  border-color: #222;
}
.holkee-products-main-swiper .swiper-slide img {
  border-radius: 4px;
}
.holkee-products-main-swiper .swiper-slide-thumb-active img {
  border: 2px solid #222;
}
.holkee-products-main-swiper .swiper-button-next {
  right: 1px;
}
.holkee-products-main-swiper .swiper-button-next:hover:after {
  background-color: #333;
}
.holkee-products-main-swiper .swiper-button-prev {
  left: 1px;
}
.holkee-products-main-swiper .swiper-button-prev:hover:after {
  background-color: #333;
}
.holkee-products-main-swiper .swiper-pagination {
  text-align: left;
  position: initial;
  padding: 5px 0;
  font-size: 0.875rem;
}
.holkee-products-main-swiper .swiper-button-next:after,
.holkee-products-main-swiper .swiper-button-prev:after {
  color: #fff;
  opacity: 1;
  background-color: rgba(51, 51, 51, 0.5176470588);
  font-size: 0.938rem;
  padding: 5px 7.5px;
  border-radius: 4px;
}

.holkee-product-info h4.sub-title {
  font-weight: bold;
}
.holkee-product-info .h-product-cont {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 12px;
}
.holkee-product-info .form-style {
  max-width: 600px;
}
@media all and (max-width: 1600px) {
  .holkee-product-info .h-mid-cont {
    max-width: 1220px;
    width: calc(100% - 30px);
  }
}
@media all and (max-width: 600px) {
  .holkee-product-info .h-mid-cont {
    width: calc(100% - 20px);
  }
  .holkee-product-info h4.sub-title {
    font-size: 0.875rem;
    padding-top: 5px;
  }
}

.h-product-cont {
  max-width: 1600px;
}
.h-product-cont .shop-label {
  color: #222;
}
.h-product-cont .shop-spec a {
  color: #222;
  border-width: 2px;
  border-style: solid;
  border-color: #DCDCDC;
  background-color: #fff;
  border-radius: 4px;
}
.h-product-cont .shop-spec a.selected {
  color: #222;
  font-weight: bold;
  border-color: #222;
}
.h-product-cont .shop-spec a:hover {
  color: #222;
  border-color: #222;
}
.h-product-cont .shop-status {
  max-width: 500px;
}
.h-product-cont .shop-status tr,
.h-product-cont .shop-status td {
  color: #222;
}
.h-product-cont .shop-status .l-label {
  width: 50%;
}
.h-product-cont .price .discount {
  color: #FF5539;
  font-weight: bold;
  padding-right: 5px;
}
.h-product-cont .price .original {
  color: #888;
  text-decoration: line-through;
  font-size: 0.813rem;
}
.h-product-cont .discount-contents {
  border-left: 3px solid #dadada;
  padding: 0px 0px 0px 15px;
}
.h-product-cont .discount-contents li {
  font-size: 0.875rem;
  color: #888;
}
.h-product-cont .discount-contents li .l-label {
  border: 2px solid #dadada;
  color: #6e6e6e;
  border-radius: 4px;
}
.h-product-cont .discount-contents li.more {
  padding-top: 10px;
  font-size: 0.813rem;
}
.h-product-cont .discount-contents li.more a {
  background-color: #f4f4f4;
  color: #6e6e6e;
  border-radius: 4px;
}
.h-product-cont .discount-contents li.more span {
  color: #006cf8;
}
.h-product-cont .stock {
  color: #888;
}
.h-product-cont a.btn-car {
  color: #222;
  font-size: 1.25rem;
  align-content: center;
  align-items: center;
}
.h-product-cont a.btn-car span.nb {
  font-size: 0.688rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  background-color: #FFBC00;
}
.h-product-cont .privacy-policy {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 5px 0;
}
.h-product-cont .privacy-policy .text {
  font-size: 0.875rem;
  line-height: 1.5;
}
.h-product-cont .txn-checkbox {
  font-size: 0.875rem;
}
.h-product-cont .txn-checkbox a {
  color: #0058CB;
  text-decoration: underline;
}
.h-product-cont .txn-checkbox a:hover {
  text-decoration: none;
}

.holkee-shoppingcart .h-mid-cont {
  width: calc(100% - 30px);
  max-width: 1650px;
}
.holkee-shoppingcart .h-photo-wrap {
  width: 100%;
}
.holkee-shoppingcart .h-photo-wrap img {
  width: 100%;
  border-radius: 4px;
}
@media all and (max-width: 1600px) {
  .holkee-shoppingcart .h-mid-cont {
    max-width: 1250px;
  }
}
@media all and (max-width: 1000px) {
  .holkee-shoppingcart .h-mid-cont {
    max-width: 100%;
    width: 100%;
  }
}/*# sourceMappingURL=holkee_default_style.css.map */